<div class="demo-button-container">

    <button mat-raised-button [disabled]="!selection.hasValue()" (click)="removeData()" class="demo-button">
        Delete
    </button>
</div>

<!-- <table mat-table [dataSource]="checkLeaves() |  paginate: { itemsPerPage: pageSize, currentPage: currentPage }  "
    class="mat-elevation-z8 demo-table leaves"> -->
<table mat-table [dataSource]="checkLeaves()" class="mat-elevation-z8 demo-table leaves">
    <ng-container matColumnDef="Select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>

        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
        </td>
    </ng-container>
    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.id}}</td>
    </ng-container>

    <ng-container matColumnDef="Employee_no">
        <th mat-header-cell *matHeaderCellDef>Employee_no</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.employee_no}}</td>
    </ng-container>
    <ng-container matColumnDef="Employee_fname">
        <th mat-header-cell *matHeaderCellDef>FirstName</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.employee_fname}}</td>
    </ng-container>
    <ng-container matColumnDef="Employee_lname">
        <th mat-header-cell *matHeaderCellDef>LastName</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.employee_lname}}</td>
    </ng-container>

    <ng-container matColumnDef="from-Date">
        <th mat-header-cell *matHeaderCellDef>from-Date</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.from_date | date : 'dd/MM/yyyy' : 'IST' }}</td>
    </ng-container>

    <ng-container matColumnDef="to-Date">
        <th mat-header-cell *matHeaderCellDef>to-Date</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.to_date | date : 'dd/MM/yyyy' : 'IST'}}</td>
    </ng-container>

    <ng-container matColumnDef="full">
        <th mat-header-cell *matHeaderCellDef>full</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.full | titlecase}}</td>
    </ng-container>

    <ng-container matColumnDef="half">
        <th mat-header-cell *matHeaderCellDef>half</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.half | titlecase}}</td>
    </ng-container>
    <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef>reason</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.reason | titlecase}}</td>
    </ng-container>
    <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let leaveslist">{{leaveslist.status | titlecase}}</td>
    </ng-container>
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let leaveslist">
            <ng-container *ngIf="leaveslist.status === 'pending'; else checked">
                <button type="button" mat-raised-button class="action-buttons" color="accent"
                    (click)="action(leaveslist, 'approved')">Approve</button>
                <button type="button" mat-raised-button class="action-buttons" color="primary"
                    (click)="action(leaveslist, 'rejected')">Reject</button>
            </ng-container>
            <ng-template #checked>
                <button type="button" mat-button>
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="done"
                        style="color: green; font-size: 20px;"></mat-icon>
                </button>
            </ng-template>
        </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    <!-- <div class="row">
         <app-pagination-comp></app-pagination-comp> 
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> 
        <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
        </mat-paginator>
    </div> -->
</table>