<div class="container ">
    <div class="row">
        <div class="row justify-content-center">
            <div class="col-md-4 text-center">
                <h2>{{empTitle | titlecase}}</h2>
            </div>
        </div>

        <div class="container-fluid col-md-11 text-align-center">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-md-2">
                    <button class="btn btn-success" (click)="onCreate()">Add New</button>
                </div>
                <div class="col-md-6 d-flex justify-content-end">

                    <div class="col-md-6">
                        <input type="text" [(ngModel)]="findData" class="searchInp" placeholder="search">
                    </div>
                    <div class="col-md-2 dropdown ">
                        <button class="btn btn-secondary dropdown-toggle end-0" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Filter By
                        </button>
                        <ul class="dropdown-menu col-md-2 filterDropdown ">


                            <li class="dropdown-item">
                                <input type="number" class="col-md-4" [(ngModel)]="nameLength"
                                    style="margin-left: 10px; border: 1px solid ">
                                <button (click)="filterByLength()" class="btn" style="border: none;">Length</button>
                            </li>
                            <li class="dropdown-item">
                                <select name="" id="" #citySlc style="margin-left: 10px; border: 1px solid ">
                                    <option value="all">All</option>
                                    <option value="Panaji">Panaji</option>
                                    <option value="Valpoi">Valpoi</option>
                                </select>
                                <button (click)="filterByCity(citySlc.value)" class="btn"
                                    style="border: none;">City</button>
                            </li>
                            <li class="dropdown-item">
                                <input type="number" class="col-md-4" [(ngModel)]="limit"
                                    style="margin-left: 10px; border: 1px solid ">
                                <button (click)="filterByLimit()" class="btn" style="border: none;">Limit</button>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <!-- [infiniteScrollUpDistance]="scrollUpDistance" 
                    [infiniteScrollDisabled]="disableInfiniteScroll" -->
                    <table id="employeeListContainer" 
                        infinite-scroll 
                        [infiniteScrollDistance]="0"
                        [infiniteScrollThrottle]="50"
                        (scrolled)="appendData()">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th>DOB</th>
                            <th>Employee Number</th>
                            <th>Designation</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Country</th>
                            <th colspan="3">Actions</th>



                        </tr>
                        <!-- <tr *ngFor="let employee of (findData ? checkEmployees() | searchFilterPipe : paginatedEmployees$ | async)"> -->
                        <!-- <tr *ngFor="let employee of checkEmployees() 
                        | paginate: { itemsPerPage: pageSize, currentPage: currentPage } 
                        | searchFilterPipe : findData; let i = index"> -->

                        <tr *ngFor="let employee of checkEmployees() 
                            | searchFilterPipe : findData; let i = index">
                            <td>{{employee.id}}</td>
                            <td>{{employee.firstName}}</td>
                            <td>{{employee.lastName}}</td>
                            <td>{{employee.email}}</td>
                            <td>{{employee.mobile}}</td>
                            <td>{{employee.dob | date : 'dd/MM/yyyy' : 'IST'}}</td>
                            <td>{{employee.employee_no }}</td>
                            <td>{{employee.designation }}</td>
                            <td>{{employee.address.city}}</td>
                            <td>{{employee.address.state}}</td>
                            <td>{{employee.address.country}}</td>
                            <td>

                                <button type="button" class="btn" (click)="onAdmin(employee)">
                                    <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="person"
                                        [style.color]="employee.userType === 'admin' ? 'green' : 'grey'"></mat-icon>
                                </button>



                            </td>
                            <td>
                                <button type="button" class="btn " (click)="onEdit(employee)">
                                    <mat-icon aria-hidden="false" aria-label="Edit icon" fontIcon="edit"
                                        color="primary"></mat-icon>
                                </button>
                            </td>

                            <td>
                                <button type="button" (click)="onDelete(employee)" class="btn ">
                                    <mat-icon aria-hidden="false" aria-label="Delete icon" fontIcon="delete"
                                        color="warn"></mat-icon>

                                </button>
                            </td>

                        </tr>
                    </table>
                    <div id="loadingIndicator" *ngIf="isLoading">
                        <!-- Loading... -->
                        <mat-spinner style="width:40px"></mat-spinner>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <app-pagination-comp></app-pagination-comp> -->
                <!-- <pagination-controls (pageChange)="currentPage = $event"></pagination-controls> -->
            </div>
        </div>
    </div>
</div>