* {
    margin: 0;
  }

  button
{
    margin: 5px;
}



.bgNav{
  background-color: #0d6efd;
  color: white;

}

.bgNav a{
  color: white;
}

.bgDropdown a{
  color: black;
}

.bgDropdown a:hover{
  color: white;
  background-color: #0d6efd;
}

// .model-backdrop.show{
//   z-index: -1;
// }