<!-- <p>edit-employee works!</p>



<form>
    <div class="mb-3">
      <label for="firstname" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstname" aria-describedby="firstName"
      name="firstName" [(ngModel)]="employeeObject.firstName">
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastname" aria-describedby="lastName" 
        name="lastName" [(ngModel)]="employeeObject.lastName">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" 
        name="email" [(ngModel)]="employeeObject.email">
    </div>
    <div class="mb-3">
      <label for="mobile" class="form-label">Mobile no</label>
      <input type="text" class="form-control" id="mobile" aria-describedby="mobile" 
      name="mobile" [(ngModel)]="employeeObject.mobile">
    </div>
    <div class="mb-3">
      <label for="employee_no" class="form-label">Employee number</label>
      <input type="number" class="form-control" id="employee_no" aria-describedby="employee_no" 
      name="employee_no" [(ngModel)]="employeeObject.employee_no">
    </div>
    <div class="mb-3">
      <label for="dob" class="form-label">DOB</label>
      <input type="date" class="form-control" id="dob" aria-describedby="dob" 
      name="dob" [(ngModel)]="employeeObject.dob">
    </div>

    <div class="mb-3">
      <label for="city" class="form-label">City</label>
      <input type="text" class="form-control" id="city" aria-describedby="city"
      name="city" [(ngModel)]="employeeObject.address.city">
    </div>
    <div class="mb-3">
      <label for="state" class="form-label">State</label>
      <input type="text" class="form-control" id="state" aria-describedby="state"
      name="state" [(ngModel)]="employeeObject.address.state">
    </div>
    <div class="mb-3">
      <label for="country" class="form-label">Country</label>
      <input type="text" class="form-control" id="country" aria-describedby="country"
      name="country" [(ngModel)]="employeeObject.address.country">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"
      name="password" [(ngModel)]="employeeObject.password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" (click)="onCreateEmp()" class="btn btn-primary">Submit</button>
  </form> -->