<p>about-us works!</p>

<table>
    <tr>
        <td>ID</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Mobile</td>
        <td>DOB</td>
        <td>Employee Number</td>
        <td>City</td>
        <td>State</td>
        <td>Country</td>

    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.mobile}}</td>
        <td>{{employee.dob}}</td>
        <td>{{employee.employee_no}}</td>
        <td>{{employee.address.city}}</td>
        <td>{{employee.address.state}}</td>
        <td>{{employee.address.country}}</td>

    </tr>
</table>