<ng-container *ngIf="userLoggedIn;else elseBlock">

  <div class="container">


    <h1>Welcome {{userName}},</h1>

    <div class="marking-btn">
      <button type="button"  mat-raised-button color="primary" (click)="openDialog()">Timing</button>
      <app-clock ></app-clock>

    </div>
  </div>

</ng-container>


<ng-template #elseBlock>
  <div class="containerNotLogged">

    <div class="title text-center text-b ">
      <h1>Welcome To The Website</h1>
    </div>

    <div class="title text-center  ">
      <span>Please Log In If You Have Already Registered Or Register Yourself</span>
      <br>
      <a routerLink="/auth/sign-up"> SIGN UP </a> /<a routerLink="/auth/log-in"> LOG IN </a>
    </div>
  </div>

</ng-template>