<ng-container *ngIf="userLoggedIn;else elseBlock">

  <div class="container">


    <h1>Welcome {{userName}},</h1>

    <div class="marking-btn">
      <button type="button"  mat-raised-button color="primary" (click)="openDialog()">Timing</button>
      <app-clock ></app-clock>

    </div>
  </div>
  <div class="" style="height:400px ; width: 600px; margin: 2% 60%">
    <vg-player>
      <vg-overlay-play></vg-overlay-play>
      <vg-buffering></vg-buffering>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>
    
          <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
          <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>

          <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
    
          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
    
          <vg-fullscreen></vg-fullscreen>
      </vg-controls>
    
      <video #media [vgMedia]="media" id="singleVideo" preload="auto" autoPictureInPicture="true" controls="true"> 
          <source [src]="videoUrl" type="video/mp4" />
      </video>
      
   </vg-player>
  </div>

</ng-container>


<ng-template #elseBlock>
  <div class="containerNotLogged">

    <div class="title text-center text-b ">
      <h1>Welcome To The Website</h1>
    </div>

    <div class="title text-center  ">
      <span>Please Log In If You Have Already Registered Or Register Yourself</span>
      <br>
      <a routerLink="/auth/sign-up"> SIGN UP </a> /<a routerLink="/auth/log-in"> LOG IN </a>
    </div>
  </div>

</ng-template>