<p>section1 works!</p>
<h2>{{message}}</h2>

<div class="container text-center">
    <div class="row">
      <div class="col-md-1 bg-secondary">
           <!-- form Event -->
          <button class="btn btn-outline-warning" #addBtn>Add</button>
          <ul id="elContainer1"></ul>   
          <ul id="elContainer2"></ul>    
        
      </div>
      <div class="col-md-2 bg-primary" >
          <!-- of() -->
          <h5>OF operator of rxjs</h5>
          <p>ex:  of ("Apple","banana","kiwi")</p>
          <p>After Converting </p>
          <ul id="fruitsContainer">
          </ul>
        
      </div>
      <div class="col-md-3 bg-secondary">
        <!-- toArray -->
        
      </div>
    </div>
  </div>




  