<div class="centered-container">

  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>SIGN UP PAGE</mat-card-title>
      <mat-card-subtitle>Welcome new User!!</mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="signupForm" (ngSubmit)="signedupUser(signupForm)">
      <mat-card-content>
        <div class="form-body">
          <mat-form-field class="inpSignupfield">
            <mat-label>First Name</mat-label>
            <input type="text" matInput formControlName="firstName" placeholder="Sam">
          </mat-form-field>
          <mat-form-field class="inpSignupfield">

            <mat-label>Last Name</mat-label>
            <input type="text" matInput formControlName="lastName" placeholder="Jose">

          </mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-radio-group class="inpSignupfield" aria-label="Select an option" formControlName="gender">

            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>

          <mat-form-field>
            <mat-label>State</mat-label>
            <mat-select formControlName="state" name="food">
              <mat-option [value]="state" *ngFor="let state of states">{{state}}</mat-option>

            </mat-select>
          </mat-form-field>

          <mat-form-field class="inpSignupfield">
            <mat-label>User Name</mat-label>
            <input type="text" matInput formControlName="userName" placeholder="Sam001">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="userType">

              <mat-option [value]="role" *ngFor="let role of roles">
                {{role}}</mat-option>

            </mat-select>
          </mat-form-field>

          <mat-form-field class="inpSignupfield">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Sam001@gmail.com">
            <mat-error *ngIf="f('email')?.touched && f('email')?.errors?.required"
            [ngClass]="{ 'error': f('email')?.touched && f('email')?.errors }">
            {{errorMessages.errors.required}}</mat-error>
            <mat-error *ngIf="f('email')?.errors?.pattern"
            [ngClass]="{ 'error': f('email')?.touched && f('email')?.errors }">
            {{errorMessages.errors.required}}</mat-error>
          </mat-form-field>
          <mat-form-field class="inpSignupfield">
            <mat-label>Phone</mat-label>
            <input type="text" matInput formControlName="phone">
          </mat-form-field>

          <mat-form-field class="inpSignupfield">
            <mat-label>Password</mat-label>
            <!-- <input type="password" matInput formControlName="password"> -->
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

          </mat-form-field>
          <p>*atleast 1 - uppercase,lowercase,digit,char(@,$,%,*,#,!,&)</p>
        </div>
      </mat-card-content>
      <br>
      <mat-card-actions>
        <button mat-raised-button type="reset" color="primary" (click)="onReset()">Reset</button>
        <div *ngIf="!isLoading; else loadingContent">
          <!-- Loader template -->
          <button mat-raised-button type="submit" color="primary" [disabled]="signupForm.invalid">Sign Up</button>

        </div>
        <ng-template #loadingContent>

          <button mat-button color="primary">Loading...</button>
        </ng-template>
      </mat-card-actions>
    </form>
  </mat-card>
</div>

