


<div class="container">
    <h1 class="title text-center">Countries</h1>
    <div class="row text-center" >
       
        <div class="col-md-6">
            <div class="card text text-sm"
                *ngFor="let country of countries | paginate : {itemsPerPage: pageSize , currentPage : currentPage}">
                <div class="card-body">

                    <img [src]="country.flags.png" class="card-img" alt="...">
                    <div class="text-dark">
                        <h2 class="card-title">{{country.name.common}}</h2>
                        <p class="card-text" *ngIf="country.independent == true">Independent</p>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
            <br>
            <br>

        </div>



        <pagination-controls class="text-center" (pageChange)="currentPage = $event"></pagination-controls>

    </div>
</div>