<p>module-2 works!</p>

<!-- <ul>
    <li *ngFor="country of countries">
        <div class="card text-bg-dark" >
            <img [src]="country.flag.png" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h5 class="card-title">{{country.name.common}}</h5>
                <p class="card-text" *ngIf="country.independent == true">Independent</p>
                <p class="card-text"><small>Last updated 3 mins ago</small></p>
            </div>
        </div>
        
    </li>
</ul> -->