<p>employees works!</p>


<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>DOB</th>
        <th>Employee Number</th>
        <th>City</th>
        <th>State</th>
        <th>Country</th>
        <!-- <th></th> -->

    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.mobile}}</td>
        <td>{{employee.dob}}</td>
        <td>{{employee.employee_no}}</td>
        <td>{{employee.address.city}}</td>
        <td>{{employee.address.state}}</td>
        <td>{{employee.address.country}}</td>
        <td>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModel" (click)="onEdit(employee)">
                Edit
            </button>
        </td>
        <td>
            <button type="button" (click)="onDelete(employee)" class="btn btn-danger">Delete</button>
        </td>
    </tr>
</table>

<div class="modal" id="editModel">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit the details </h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-1">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstname" aria-describedby="firstName"
                            name="firstName" [(ngModel)]="employee.firstName" value="employee.firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastname" aria-describedby="lastName"
                            name="lastName" [(ngModel)]="employee.lastName" value="employee.lastName">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="email" name="email"
                            [(ngModel)]="employee.email" value="employee.email">
                    </div>
                    <div class="mb-3">
                        <label for="mobile" class="form-label">Mobile no</label>
                        <input type="text" class="form-control" id="mobile" aria-describedby="mobile" name="mobile"
                            [(ngModel)]="employee.mobile" value="employee.mobile">
                    </div>
                    <div class="mb-3">
                        <label for="employee_no" class="form-label">Employee number</label>
                        <input type="number" class="form-control" id="employee_no" aria-describedby="employee_no"
                            name="employee_no" [(ngModel)]="employee.employee_no" value="employee.employee_no">
                    </div>
                    <div class="mb-3">
                        <label for="dob" class="form-label">DOB</label>
                        <input type="date" class="form-control" id="dob" aria-describedby="dob" name="dob"
                            [(ngModel)]="employee.dob" value="employee.dob">
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" aria-describedby="city" name="city"
                            [(ngModel)]="employee.address.city" value="employee..address.city">
                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State</label>
                        <input type="text" class="form-control" id="state" aria-describedby="state" name="state"
                            [(ngModel)]="employee.address.state" value="employee.address.state">
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" class="form-control" id="country" aria-describedby="country" name="country"
                            [(ngModel)]="employee.address.country" value="employee.address.country">
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                            [(ngModel)]="employee.password" value="employee.password">
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" (click)="onUpdateEmp()" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>