
.main-contain{
    position: relative;
}

.header{
     position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; 
}

.content-container {
    margin-top: 70px; 
    height:500px;
  }

  .footer
  {
    margin-top: 50px;
  }