<div class="container" style="margin:50px;">
    <div class="row">


        <form [formGroup]='logInForm' (ngSubmit)="loggedInUser(logInForm)">


            <div class="mb-2 row">
                <label for="email" class="col-sm-2 col-form-label">UserName / Email</label>
                <div class="col-sm-3 form-group">
                    <input type="text" formControlName="nameEmail" class="form-control" id="email">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-3 form-group">
                    <input type="password" formControlName="userpassword" class="form-control" id="inputPassword">
                </div>
            </div>

            <div *ngIf="!isLoading; else loadingContent">
                <button class="btn btn-primary" type="submit">Sign In</button>

            </div>
            <ng-template #loadingContent>

                <button class="btn btn-primary">Loading...</button>
            </ng-template>
        </form>


        <div *ngIf="!isNotvalid" class="alert alert-danger" role="alert">
            The Credentials are Invalid !!
        </div>
    </div>
</div>