<p>login-page works!</p>


<form [formGroup]="signinForm" (ngSubmit)="PostData(signinForm)">
    <div class="mb-3 row">
        <label for="fname" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10 form-group">
            <input type="text" formControlName="fname" class="form-control-plaintext" id="fname">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="lname" class="col-sm-2 col-form-label">Last name</label>
        <div class="col-sm-10 form-group">
            <input type="text" formControlName="lname" class="form-control" id="lname">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10 form-group">
            <input type="email" formControlName="emailid" class="form-control" id="email">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10 form-group">
            <input type="password" formControlName="userpassword" class="form-control" id="inputPassword">
        </div>
    </div>
    <button class="btn btn-primary" value="Post Data" type="submit">Sign In</button>
</form>